<div mat-dialog-content>
    <h1>Chỉnh sửa tên khoa</h1>
    <div>
      <p style="margin: 0">Ten Khoa <span style="color: red;">(*)</span></p>
      <mat-form-field style="width: 100%" appearance="outline">
        <!-- <mat-label>Ma Khoa</mat-label> -->
        <input style="width: 100%;" matInput [(ngModel)]="addeditcode">
      </mat-form-field>
    </div>
    <div>
      <p style="margin: 0">Ma Khoa<span style="color: red;">(*)</span></p>
      <mat-form-field style="width: 100%" appearance="outline">
        <!-- <mat-label>Ma Khoa</mat-label> -->
        <input matInput [(ngModel)]="addeditname">
      </mat-form-field>
    </div>
  </div>
  <div style="float: right;" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Bo Qua</button>
    <button style="margin-left: 20px;" mat-button [mat-dialog-close]="{tenKhoa: addeditcode, maKhoa: addeditname}" cdkFocusInitial>Dong Y</button>
    <!-- <button mat-button >Dong Y</button> -->
  </div>


