
<form  [formGroup]="profileForm" action="" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <h1>{{nameMajor}}</h1>
    <div>
      <p style="margin: 0">Ten Khoa <span style="color: red;">(*)</span></p>
      <mat-form-field style="width: 100%" appearance="outline">
        <input formControlName="tenKhoa" style="width: 100%;" matInput required>
        <label *ngIf="profileForm.get('tenKhoa')?.invalid && profileForm.get('tenKhoa')?.touched" [ngClass] = "'error'"> Khong duoc de trong </label>
        <label *ngIf="profileForm.get('tenKhoa')?.untouched" class="error" style="display: {{dp}}"> Khong duoc de trong </label>
      </mat-form-field>
    </div>
    <div>
      <p style="margin: 0">Ma Khoa<span style="color: red;">(*)</span></p>
      <mat-form-field style="width: 100%" appearance="outline">
        <input matInput formControlName="maKhoa" required>
        <label *ngIf="profileForm.get('maKhoa')?.invalid && profileForm.get('maKhoa')?.touched" [ngClass] = "'error'"> Khong duoc de trong </label>
        <label *ngIf="profileForm.get('maKhoa')?.untouched" class="error" style="display: {{dp}}"> Khong duoc de trong </label>
      </mat-form-field>
    </div>
  </div>
  <div  style="float: right;" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Bo Qua</button>
    <button style="margin-left: 20px;" mat-button type="submit" (click)="onSave($event)" cdkFocusInitial>Dong Y</button>
    <!-- <button *ngIf="!profileForm.valid" style="margin-left: 20px;" mat-button type="submit" (click)="onSave($event)" cdkFocusInitial>Dong Y</button> -->
    <!-- <button *ngIf="profileForm.valid" style="margin-left: 20px;" mat-button  type="submit" [mat-dialog-close]="profileForm.value" cdkFocusInitial>Dong Y</button> -->
  </div>
</form>

  
